.UserList{
    text-align:center;
}
.UserList li{
    font-size: 1.2em;
    background-color: white;
    margin:1em;
    list-style: none;
    box-shadow: 0 0 0.5em grey;
    border-radius: 0.3em;
    padding:0.3em;
    padding-top:0.15em;
}
.UserList li:hover{
    box-shadow: 0 0 0.5em #CC9900;
}
.UserList input[type=submit]{
    float:right;
    font-size: 0.9em;
    margin:0.05em;
}

.DetailList{
    text-align:left;
}
.DetailList input{
    font-size: 0.8em;
}
.DetailList input[type=submit]{
    width:5em;
    margin:0.1em;
}
.DetailList li{
    display: inline;
    list-style-type: none;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow:none;
    margin:0;
}
.DetailList li:hover{
    box-shadow: none;
}
.DetailList li:first-child{
    margin-left: 0;
    min-width:10em;
}

.EmailField{
    width:15em;
    text-align: center;
    border-style: none;
}
.PhoneField{
    width:8em;
    border-style: none;
}
.SIDField{
    width:4em;
    text-align: center;
    border-style: none;
}

.TwoButton{
    width:49.5%;
    margin:0%;
    font-size: 1em;
    text-align: center;
}
input[type=submit].TwoButton{
    font-size: 1em;
}
input[type=submit].Mini{
    height:1em;
    padding-top:0.3em;
}