body{
    background-color: #CCE6FF; /* Light blue */
    font-family: "Oxygen","Sans-serif";
    margin: 0;
    padding: 0;
}
.anchor{
    display: block; 
    position: relative; 
    top: -5em; 
    visibility: hidden;
}
ul{
    padding: 0;
    margin: 0;
}

#SingleSection{
    max-width:80em; /* Should be 60 for center align but causes FireFox buttons to be narrow when trailers embedded */
    margin-top:5em;

    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.Notification{
    margin:1em;
    text-align: center;
    background-color: #F0F0F0;
    font-size: 1.5em;
    border-radius: 1em;
    padding: 1em;
    font-family:Verdana,"Sans-serif";
}

.InvalidInput{
    border-color: red;
}
.hidden{
    display: none;
}
.Modified{
    background-color:#FFF5CC !important;
}