body{
    font-family: "Ebrima";
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.anchor{
    display: block; 
    position: relative; 
    top: -5em; 
    visibility: hidden;
}
ul{
    padding: 0;
    margin: 0;
}

#SingleSection{
    width:70em; /* Should be 60 for center align */
    margin-top:9.5em;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.Notification{
    margin:1em;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

.InvalidInput{
    border-color: red;
}
.hidden{
    display: none;
}
.Modified{
    background-color:#FFF5CC !important;
}

.icon{
    width:3em;
}


.Controls{
    width:100%;
    text-align:center;
    margin-top: 5.5em;
}
.Controls input[type=submit]{
    width:10%;
    font-size: 1.2em;
}
.Controls input[type=text]{
    width:60%;
    font-size: 1.2em;
    text-align: center;
}
