
.Watched td{
    background-color: #ECF9EC;
}

table {
    margin: 2%;
    border-width: 1px;
    border-collapse: collapse;
    width:90%;
}


td {
    text-align: center;
    background-color:white;
    height: 2.5em;
}

td, th{
    padding: 8px;
    border-width: 1px;
    border-style: none;
    border-top-style: solid;
    border-color: gold;
    transition: all 0.3s ease 0.1s;
    width:5%;
}

th {
    background-color: orange;
    font-weight: normal;
    font-size: 1.2em;
}

.TableInput{
    font-size: 1em;
    margin:0;
    text-align: center;
    border-style:none;
    background-color: transparent;
}

table input[type=number]{
    font-size:1em;
    height:1.5em;
    margin:0;
    text-align:center;
}

a img, table input[type=image]{
    position:relative;
    top:4px;
}

.RatingField{
    width:2em;
}
.StockField{
    width:3em;
}

th.Checked{
    background-color: darkorange;
}


/* For scrollable tables */

table {
    overflow-y: scroll;
}
tbody {
    overflow-x: auto;
    display: block;
    width:100%;
}
thead {
    display: table-row;
}


.TrailerCell{
    overflow:hidden;
    width:10%;
}
.TitleCell{
    width:25%;
}
.ProgressCell{
    width:20%;
}
.NotesCell{
    width:10%;
}