
.Watched td{
    background-color:#B2D1B2; /* Light green */
}

.RatingField{
    font-size:1em;
    height:1.5em;
    width:2em;
    margin:0;
    text-align:center;
}

.TrailerCell{
    overflow:hidden;
    width:6em;
}

.InvisibleCell{
    background-color:transparent !important;
    border:none;
}

table input[type=submit]{
    font-size:0.8em;
    padding:1em;
    width:100%;
}

table {
    font-family:Verdana,"Sans-serif";
    margin: 2%;
    border-width: 1px;
    border-collapse: collapse;
    border-left-style: solid;
    border-color: grey;
}
th {
    padding: 8px;
    background-color: #dedede; /* Light grey */
}

td {
    text-align: center;
    padding: 0.5em;
    background-color:white;
}

td, th{
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-left-style: none;
    border-right-style: none;
}

.Striped tr:nth-child(odd) {
    background: #F0F0F0;
}

.ToDo{
    background-color: #FAF882; /* Light orange */
}

.TableInput{
    font-size: 1em;
    margin:0;
    text-align: center;
    width:98%;
    border-style:none;
    background-color: transparent;
}

.TotalRatingCell{
    width:2em;
    border-right-style: solid;
}

.RatingCell{
    width:2em;
}

th.RatingCell{
    background-color: #BABABA; /* Dark grey */
}
th.Checked{
    background-color: #dedede; /* Light grey */
}