
.Watched td{
    background-color: #ECF9EC;
}

.TrailerCell{
    overflow:hidden;
    width:6em;
}

.NotesCell{
    width:20em;
}



table {
    margin: 2%;
    border-width: 1px;
    border-collapse: collapse;
    width:90%;
}
th {
    padding: 8px;
    background-color: orange;
    font-weight: normal;
    font-size: 1.2em;
}

td {
    text-align: center;
    padding: 0.3em;
    background-color:white;
    height: 2.5em;
    transition: all 0.3s ease 0.1s;
}

td, th{
    border-width: 1px;
    border-style: none;
    border-top-style: solid;
    border-color: gold;
}

.TableInput{
    font-size: 1em;
    margin:0;
    text-align: center;
    width:98%;
    border-style:none;
    background-color: transparent;
}


.UserCell{
    width: 3em;
    background-color: orange;
}

.TotalCell{
    width:2em;
}

table input[type=number]{
    font-size:1em;
    height:1.5em;
    margin:0;
    text-align:center;
}

.RatingField{
    width:2em;
}

.StockField{
    width:3em;
}

th.Checked{
    background-color: darkorange; /* Light grey */
}